{% extends 'base.html.twig' %}

{% block title %}Hello CadastrarMedicoController!{% endblock %}

{% block body %}

<style>
    .example-wrapper {   margin-top: -1px; width: 100%; height:auto;}
    .example-wrapper code { background: white; padding: 2px 6px; }
</style>

<div class="mb-3" style="float:right; text-align:center; margin-right:20px; ">
    <i style="font-size: 18px;" class="far fa-user-circle"></i> <br>
    <span style="color:cian; font-size:12px;"> Você esta logado: <strong style="color:blue;">  ✅ </strong>  </span> 
    <br>
    <span style="color:cian; font-size:12px;"> Você esta logado com CPF: <strong> <u> {{ app.user.username }} </strong> </u> </span> 
    <br>
    <div style="width:100%; height:auto;"> <a href="/admin/management" style="float:right; margin-right:12px;"> <u> Home </u> </a > </div>
</div>

<div class="example-wrapper" style="background:white; height: 90px;" >
    <div style=" width:8%; height:auto; padding-top:8px;  margin-left:25px; " align="center">
        <img style=" " src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/800px-Logo_PMPR_2.svg.png" alt="Smiley face" height="70" width="60">
    </div>
</div>

<div class="example-wrapper" >
    <div style="display:flex; width:100%; height:auto; position:relative; top:-20px; " >
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/800px-Logo_PMPR_2.svg.png" alt="Smiley face" height="70" width="60">
    </div>
</div>

<section style="width:100%; height:auto; text-align:center;" align="center"> 
    <div class="alert alert-primary" role="alert">
        <span style="text-shadow: 1px 0px 2px blue; color:cian;" > Salvo com Sucesso ! </span> 
    </div>
</section>

<br>

<section style="width:100%; height:auto;" align="center"> 
    <div style="width: 50%; margin:auto; text-align:center; height: auto; "> 
        <span> <STRONG> NOME:  </STRONG> {{ medico.nome }} </span>
        <br>
        <br>
        <span> <STRONG> RG:  </STRONG> {{ medico.rg }} </span>
        <br>
        <br>
        <span> <STRONG> CPF:  </STRONG> {{ medico.cpf }} </span>
        <br>
        <br>
        <span> <STRONG> CRM:  </STRONG> {{ medico.crm }} </span>
        <br>
        <br>
        <span> <STRONG> PHONE1: </STRONG>  {{ medico.phone1 }} </span>
        <br>
        <br>
        <span> <STRONG> PHONE2:  </STRONG> {{ medico.phone2 }} </span>
        <br>
        <br>
        <span> <STRONG> SENHA: </STRONG>  {{ medico.Password }}  </span>
        <br>
        <br>
        <span> <STRONG> ATIVO:  </STRONG> {{ medico.ativo }} SIM </span>
    </div>
</section>

<div style="width:100%; height:auto;"> <a href="/admin/management" style="float:left; margin-left:12px;"> <u> <i class="fas fa-plus-circle"></i> Novo cadastro. </u> </a > </div>

 
{# <li>Your controller at <code><a href="{{ '/home/renanbrs/Saude-Medico/src/Controller/CadastrarMedicoController.php'|file_link(0) }}">src/Controller/CadastrarMedicoController.php</a></code></li>
<li>Your template at <code><a href="{{ '/home/renanbrs/Saude-Medico/templates/cadastrar_medico/index.html.twig'|file_link(0) }}">templates/cadastrar_medico/index.html.twig</a></code></li> #}
     
{% endblock %}
