{% extends 'base.html.twig' %}

{% block title %}Hello EditarCadastroMedicoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 100%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div style="width:100%; height:auto;"> <a href="/admin/management" style="float:right; margin-right:12px;"> <u> Home </u> </a > </div>

<div class="example-wrapper" >
    <div style="display:flex; width:100%; height:auto; position:relative; top:-30px; border-bottom:solid 1px lightgray; " >
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/800px-Logo_PMPR_2.svg.png" alt="Smiley face" height="70" width="60">
    </div>
</div>

<span style="margin-left:15px; font-size:11.5px;"> <i class="far fa-circle"></i> Se Status é 1 está <strong> ativo. </strong> </span>
<br>
<span style="margin-left:15px; font-size:11.5px;"> <i style="color:red;" class="far fa-circle"></i> Se Status é 0 está  <strong> inativo  </strong> </span>

{# <span style=" margin:0 auto; margin-left: 20px;"> Edição de cadastro.   </span> <br> <br> #}
<table class="table table-striped">
  <thead>
    <tr align="center">
      <th scope="col" style="color:#4f6472;">ID</th>
      <th scope="col" style="color:#4f6472;">NOME</th>
      <th scope="col" style="color:#4f6472;">CPF</th>
      <th scope="col" style="color:#4f6472;">RG</th>
      <th scope="col" style="color:#4f6472;">CRM</th>
      <th scope="col" style="color:#4f6472;">PHONE</th>
      <th scope="col" style="color:#4f6472;">PHONE2</th>
      <th scope="col" style="color:#4f6472;">CRM</th>
      <th scope="col" style="color:#4f6472;">STATUS</th>
      <th scope="col" style="color:#4f6472;">editar | desativar</th>
    </tr>
  </thead>

  <tbody align="center">
    {% if findAll is defined and findAll|length > 0 %}
      {% for alls in findAll %}
      <tr>
        <th scope="row"> {{alls.ID}} </th>
        <td>{{alls.NOME}}   </td>
        <td>{{alls.CPF}}    </td>
        <td>{{alls.RG}}     </td>
        <td>{{alls.CRM}}    </td>
        <td>{{alls.phone1}} </td>
        <td>{{alls.phone2}} </td>
        <td>{{alls.CRM}}    </td>
        <td>
          {% if alls.ativo == false %}
            <span> 0 </span>
            {% else %}
            {{alls.ativo}}
          {% endif %}
        </td>
        <td> 
          <a href="/admin/cadastro/edit/user?user={{alls.ID}}" class="btn btn-outline-warning"> <i class="far fa-edit"></i> </a> 
          <a href="/admin/disableDoctor?desability={{alls.ID}}" class="btn btn-outline-danger"> <i style="color:darkgray" class="fas fa-user-slash"></i> </a> 
        </td>
      </tr>
      {% endfor %}
      {% else %}
        <h5 style="color:gray; margin-left:25px; position:relative; top:110px;"> Não há registro no momento ! <h5>
    {% endif %}
  </tbody>
</table>
<hr>
{% endblock %}
